/classifier.zip
/notebooks.zip
/src.zip
/data/
/models/
/multi-runs_classifier/
/updated_model-examples/
*/__pycache__*
*/.ipynb_checkpoints/
/notebooks/training scripts/tracing_model/segmentator3000/
*/.idea/*
